body{
    background-color: black;
}

p{
    color: white;
    font-family: 'Noto Sans Cypro Minoan', sans-serif;
}



.title {
    color: white;
    font-weight: bold;
    font-size: 55px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;

    animation: title 10s infinite;
}

@keyframes title{
    20% {color: white; text-shadow: 0 0 3px white;}
    40% {color: rgb(255, 174, 0);text-shadow: 0 0 3px rgb(255, 174, 0);}
    60% {color: white;text-shadow: 0 0 3px white;}
    80% {color: rgb(0, 89, 255);text-shadow: 0 0 3px rgb(0, 89, 255)};
    100% {color: white;text-shadow: 0 0 3px white;}
    }


.score{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 0px;
    font-size: 20px;

    border-radius: 10px;
    border-style: solid;
    border-color: white;
    

}

.reset{
    display:block;
    font-size: 20px;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;


    border-radius: 5px;
    border-style: solid;
    border-color: white;
    background-color: black;
    color: white;
    width: 150px;
    height: 50px;
    

    cursor: pointer;
}

.reset:hover{
    background-color: white;
    color: black;
    border-color: darkgreen;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.459);
}

.button{
    display: flex;
    flex-direction: row;
    margin-top: 0px;

    margin-left: 55px;
    margin-right: 55px;
}


.center{
    display: flex;
    flex-direction: row;

    margin-left: auto;
    margin-right: auto;

    margin-top: 30px;

}

/*rock*/



.rock{
    background-color: black;

    border-style: solid;
    border-radius: 10px;
    border-color: white;
    cursor: pointer;


}


.rock:hover{
    border-color: gold;
    box-shadow: 0 0 20px gold;
}

.Pic_setting{
    width: 390px;
    height: 410px;


    
}

/*paper*/

.score{
    color: white;
}

.paper{
    background-color: black;

    border-style: solid;
    border-radius: 10px;
    border-color: white;
    cursor: pointer;

    margin-left: 35px;
    margin-right: 35px;
    
}

.paper:hover{
    border-color: rgb(255, 0, 0);
    box-shadow: 0 0 20px rgb(250, 20, 20);
}

/*scissors */

.scissors{
    background-color: black;

    border-style: solid;
    border-radius: 10px;
    border-color: white;
    cursor: pointer;

}

.scissors:hover{
    border-color: gold;
    box-shadow: 0 0 20px gold;
}



.rock_car {
    text-align: center;

    font-size: 22px;
    font-weight: bold;

    animation: rock 5s infinite;
}

@keyframes rock{
    0% {color: white; text-shadow: 0 0 3px white;}
    50% {color: gray; text-shadow: 0 0 3px grey;}
    100% {color: white; text-shadow: 0 0 3px white;}
}


.Paper_man{
    text-align: center;

    font-size: 22px;
    font-weight: bold;

    animation: paper 5s infinite;
}

@keyframes paper{
    0% {color: white; text-shadow: 0 0 1px white;}
    50% {color: rgb(255, 18, 18); text-shadow: 0 0 1px grey;}
    100% {color: white; text-shadow: 0 0 1px white;}
}

.Mr{
    text-align: center;

    font-size: 22px;
    font-weight: bold;
    
    animation: Mr 5s infinite;
}

@keyframes Mr{
    0% {color: white; text-shadow: 0 0 1px white;}
    50% {color: rgb(0, 255, 42); text-shadow: 0 0 1px grey;}
    100% {color: white; text-shadow: 0 0 1px white;}
}



